@font-face {
  font-family: 'Hakgyoansim Usan';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimUsan/HakgyoansimUsan.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimUsan/HakgyoansimUsan.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimUsan/HakgyoansimUsan.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimUsan/HakgyoansimUsan.ttf') format('truetype');
}